# =========================================================================== #
#                        FORBID ALL UNSPECIFIED FILES                         #
# =========================================================================== #
/*

# =========================================================================== #
#                                ALLOWED FILES                                #
# =========================================================================== #
!/package.json
!/yarn.lock
