# =========================================================================== #
#                        FORBID ALL UNSPECIFIED FILES                         #
# =========================================================================== #
/*

# =========================================================================== #
#                                ALLOWED FILES                                #
# =========================================================================== #

# ----- PACKAGE FILES ----- #
!/package.json
!/yarn.lock

# ----- IGNORE FILES ----- #
!/.dockerignore
!/.gitignore

# ----- BUILD CONFIGURATIONS ----- #
!/cloudbuild.yaml
!/Dockerfile
!glide.lock
!glide.yaml
Jenkinsfile
yarn.lock

# ----- SOURCE DIRECTORIES ----- #
# ----- SCRIPT DIRECTORIES ----- #
!/scripts/*
!/cmd/*
!/docs/*
!/k8s/*
!/pkg/*
!/spinnaker/*
!/tests/*
